**/__pycache__/*
# C extensions
*/__pycache__/*
.cache
# mypy
*.egg-info/
.scrapy
*$py.class
*.so
# Flask stuff:
\.DS_Store
develop-eggs/
*.cover
# Installer logs
.coverage*
\.pytest_cache/
__pycache__/
# Scrapy stuff:
.tox/
# Spyder project settings
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
target/
instance/
.Python
#  Usually these files are written by a python script from a template
nosetests.xml
*.log
.eggs/
lib/
.coverage*
.ipynb_checkpoints
.hypothesis/
# Translations
__pycache__
.single_run
.coverage
# dotenv
*.spec
# pyenv
*.sage.py
lib64/
var/
# celery beat schedule file
.spyderproject
.spyproject
htmlcov/
build/
.mypy_cache/
.ropeproject
\.vscode/
.python-version
# PyInstaller
*.pot
# Django stuff:
parts/
pip-log.txt
*.mo
# Byte-compiled / optimized / DLL files
# Jupyter Notebook
/site
downloads/
# Unit test / coverage reports
venv/
# Rope project settings
*.egg
# PyBuilder
# virtualenv
# Distribution / packaging
docs/_build/
# SageMath parsed files
.webassets-cache
*.py[cod]
eggs/
sdist/
pip-delete-this-directory.txt
# Sphinx documentation
*.manifest
wheels/
env/
celerybeat-schedule
local_settings.py
.notipy.json
ENV/
coverage.xml
.env
# mkdocs documentation
.venv
.installed.cfg
.vscode
tests/references/*